[Desktop Entry]
Type=Application
Name=Virtual Mic Soundboard
Comment=Play sounds through a virtual microphone
Exec="/home/gaming-pc/Downloads/AIRIS 2/soundboard/run_soundboard.sh"
Icon=/home/gaming-pc/Downloads/AIRIS 2/soundboard/icon.png
Path=/home/gaming-pc/Downloads/AIRIS 2/soundboard
Terminal=false
Categories=Audio;AudioVideo;
StartupNotify=false
StartupWMClass=soundboard
# Help grouping in Ubuntu dock
X-GNOME-Autostart-enabled=false
